<% include partials/header %>

<h1>Mate's Lists</h1>

<a href="mateslists/new">Add new list</a>

<% matesLists.forEach(function(list) { %>
<div>
  <h4><%= list.title %></h4>
  <% list.items.forEach(function(item) { %>
  <li><%= item %></li>
  <% }); %>
</div>


<% }); %>
<a href="/">back home</a>

<% include partials/footer %>