li {
  list-style: none;
  padding: 4px;
}

.new-list-form {
  display: block;
  text-align: center;
  color: pink;
}
 form {
  display: inline-block;
  text-align: left;
}

#new-list {
padding-inline-start: 0 ;
margin: auto;
}

.new-list-form .bulk-input {
  display: inline !important;
  width: 70px !important;
}

#new-list-submit {
  margin-top: 10px !important;
}
.card {
  margin-top: 15px !important;
}